body {
  font-family: Arial, sans-serif;
  margin: 20px;
  text-align: center;
}

input,
button {
  margin: 5px 0;
  padding: 8px;
}

input {
  width: 80%;
  border: none;
  border-bottom: 5px rgb(50, 197, 255) solid;
}

button {
  cursor: pointer;
  width: 80%;
  border: none;
  height: 40px;
  font-weight: bolder;
  background-color: rgb(50, 197, 255);
}

button:hover {
  background-color: rgb(84, 120, 134);
}

.error {
  color: red;
}

.success {
  color: green;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: center;
  background-color: rgb(255, 242, 227);
  width: 400px;
  margin: auto;
  box-shadow: 1px 2px 5px black;
}